html {
    font-family: sans-serif;
    font-size: 19px;
}
body {
    font-family: 'Lato', sans-serif;
    color : #333;
    background-color: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Londrina Solid', cursive;
}
a {
    color:#cc6600;
    text-decoration: none;
}
li:first-letter {
    text-transform: uppercase;
}
a:hover {
    text-decoration: underline;
    text-shadow: white;
}
main {
    width:800px;
    max-width:100%;
    margin:auto;
}
ul.done {
}