html {
    font-family: sans-serif;
    font-size: 19px;
}
body {
    font-family: 'Lato', sans-serif;
    color : #333;
    background-image: url("background.png");
    background-attachment:fixed;
    margin: 0;
    line-height: 1.25em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Londrina Solid', cursive;
}
a {
    color:#cc6600;
    text-decoration: none;
}
li:first-letter {
    text-transform: uppercase;
}
li {
    margin-bottom: 0.4em;
}
a:hover {
    text-decoration: underline;
    text-shadow: white;
}
main {
	margin: 100px auto;
    width:800px;
    max-width:100%;
    box-sizing: border-box;
	background-color: rgba(255,255,255,0.97);
	padding : 0 20px;
	overflow: auto;
	box-shadow: 8px 12px 19px 1px rgba(0, 0, 0, 0.7);
}
ul.done {
}